@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

:root{
  --white-natural: #FFFFFF;
  --gray-10: 0.1rem solid #DFDFDF;
  --gray-20: 0.1rem solid #9E9E9E;

  --h3: 400 1.6rem 'Heveltica neue', sans-serif;

  --input-width: 28.7rem;
  --input-padding: 1.6rem;

  --radius: 0.8rem;

}

.input{
  width: var(--input-width);
  padding: var(--input-padding);
  border-radius: var(--radius);
  border: var(--gray-10);
  background-color: var(--white-natural);

  font: var(--h3);
  color: var(--gray-20);
}

.input:hover, .input:focus{
  border: var(--gray-20);
  outline: none;
}

@media screen and (max-width: 500px){
  .input{
    width: 100%;
  }
}