:root{
  --header-width: 100%;
  --header-height: 6rem;
  --shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.2);

  --white-natural: #FFFFFF;
}	

.header{
  width: var(--header-width);
  height: var(--header-height);
  background-color: var(--white-natural);
  box-shadow: var(--shadow);
}

.logo{
  width: 9.1rem;
  height: 100%;
  margin: 0 0 0 2rem;
}