:root{
  --header-height: 6rem;
  --header-width: 10rem;
  --shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.2);

  --white-natural: #FFFFFF;
}	

.header{
  background-color: var(--white-natural);
  box-shadow: var(--shadow);
}

.logo{
  width: var(--header-width);
  margin-left: 3rem;
  height: var(--header-height);
}