@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

:root{
  --gray-00: #F0F0F0;
  --black-neutral: #1C1C1C;

  --h1: 500 2rem 'Helvetica neue', sans-serif;
}

.app-container{
  background-color: var(--gray-00);
  display: flex;
  height: 100vh;
  flex-direction: column;
  gap: 4.4rem;
}

.main-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 5rem;
}

.h1{
  font: var(--h1);
  color: var(--black-neutral)
}

.employees-table{
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 480px){
  .main-content {
    flex-direction: column;
    gap: 2.4rem;
    align-items: flex-start; 
  }
  .search, .h1 {
    width: 90vw;
    margin: 0 auto;
    max-width: 400px; 
    padding: 0.5rem; 
  }
}