@import url("https://fonts.cdnfonts.com/css/helvetica-neue-5");

:root {
  --gray-00: #f0f0f0;
  --black-neutral: #1c1c1c;

  --gap: 4.4rem;

  --h1: 500 2rem "Helvetica neue", sans-serif;
}

.app-container {
  background-color: var(--gray-00);
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: var(--gap);
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.h1 {
  font: var(--h1);
  color: var(--black-neutral);
}

.employees-table {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1280px) {
  .app-container {
    height: 100vh;
  }
  .main-content {
    margin: 0 8rem;
  }
}

@media screen and (max-width: 1280px) {
  .app-container {
    height: 100vh;
  }
  .main-content {
    margin: 0 7rem;
  }
}

@media screen and (max-width: 1024px) {
  .app-container {
    height: 100vh;
  }
  .main-content {
    margin: 0 6rem;
  }
}

@media screen and (max-width: 768px) {
  .app-container {
    height: 100vh;
  }
  .main-content {
    margin: 0 4rem;
  }
}

@media screen and (max-width: 500px) {
  .app-container {
    height: 100vh;
  }
  .main-content {
    flex-direction: column;
    margin: -2.4rem 2rem;
  }
}
